<h1>Forms</h1>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Form Name</th>
      <th scope="col">Version</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of forms">
      <!-- no redirect -->
      <td><a href="javascript:" (click)="preview(form)">{{form.name}}</a></td>
      <td>{{form.version}}</td>
      <td>{{form.created_at}}</td>
      <td><a  routerLink = "/builder" [queryParams] = "{parameterName: form| json }" (click)="edit(form)"><i class="fa fa-edit"></i></a></td>
      <td><a href="javascript:" (click)="delete(form)"><i class="fa fa-trash-o"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
<div [hidden]="!error" class="alert alert-danger" #message></div>
<div>
  <div id="preview_form" *ngIf="previewForm">
    <h2>Preview Form {{previewForm.name}}</h2>
    <p>{{previewForm.description}}</p>
    <formio [form]="previewForm.form"></formio>
  </div>
</div>
