<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img style="height: 2em;" src="https://portal.form.io/images/formio-logo.png"/></a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/"><i class="fa fa-home"> Home</i></a>
      </li>
      <li class="nav-item" routerLinkActive="active"
          *ngIf="auth.authenticated && auth.user['roles'] == auth.roles['administrator']['_id']">
        <a class="nav-link" routerLink="builder"><i class="fa fa-building"></i> Builder</a>
      </li>
      <li class="nav-item" routerLinkActive="active"
          *ngIf="auth.authenticated && auth.user['roles'] == auth.roles['administrator']['_id']">
        <a class="nav-link" routerLink="forms"><i class="fa fa-wpforms"></i> Forms</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!auth.authenticated">
        <a class="nav-link" routerLink="auth">Login | Register</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" routerLink="/" (click)="auth.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
