
<div class="container-fluid">
  <div>
    <h2>Form Builder</h2>
    <form-builder id="formBuilder" [form]=form (change)="onChange($event)"></form-builder>
  <br>
  </div>
</div>
<div [hidden]="!error" class="alert alert-danger" #message></div>

<form [formGroup]="formForm" (ngSubmit)="submit(formForm.value)">
  <input id="form_id" type="text" formControlName="form_id" hidden>
  <input id="form_json" type="json" formControlName="form_json" hidden>
  <div class="form-group">
    <p>Name</p>
    <input id="name" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <p>Description</p>
    <textarea id="description" rows="5" cols="100" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <button class='btn btn-primary'>Save Form</button>
  </div>
</form>

